.footer {
  background-color: var(--secondary-color);
  background-image: linear-gradient(to bottom, #072e33, #0c7075);
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  place-self: center;
}



.footer-bottom {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;
  color: #666;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--primary-color);
  justify-content: space-around;
}

.footer-copyright {
  font-size: 13px;
  color: #fff;
}


.footer-title {
  font-size: 220px;
  font-weight: 800;
  font-family: Arial, sans-serif;
  color: transparent;
  width: 100%;
  text-align: center;
  background-clip: text;
  text-transform: uppercase;
  -webkit-text-stroke: 1px white !important;
  line-height: 211px;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }


  .footer-title {
    font-size: 70px;
    line-height: 70px;
  }
  
}