.wrapper{overflow-x:auto}
table{width:100%;border-collapse:collapse;font-size:.9rem}
th,td{padding:.75rem;text-align:left;border-bottom:1px solid var(--greyd-border-color)}
th{background:var(--greyd-bg-light);user-select:none;cursor:pointer}
.zebra tr:nth-child(even){background:var(--greyd-bg-light)}
