/* SEO Section */
.seo-section {
  padding: 60px 50px;
}

.seo-intro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px;
}

.seo-intro h2 {
  font-size: 3rem;
  color: #072e33;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.seo-intro p {
  font-size: 1.1rem;
  color: var(--primary-color);
  line-height: 1.6;
}

.seo-services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 80px;
}

.seo-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, background-color 0.3s ease;
  border: solid 2px white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.seo-card:hover {
  background: rgba(4, 94, 99, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  transform: translateY(-10px);
  border: solid 2px #045e63;
}

.seo-card img {
  max-width: 80px;
  margin: 0 auto 15px;
  height: 80px;
  object-fit: contain;
  display: none;
}

.seo-card h3 {
  margin-bottom: 10px;
  color: #072e33;
  font-weight: 600;
  font-size: 1.3rem;
}

.seo-card p {
  color: #6c757d;
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .seo-services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .seo-services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .seo-services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .seo-section {
    padding: 25px;
  }
  
  .seo-intro h2 {
    font-size: 2rem;
  }
  
  .seo-intro p {
    font-size: 15px;
  }


  .seo-card {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .seo-services-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  
  .seo-card {
    padding: 15px;
  }
  
  .seo-card img {
    max-width: 60px;
    height: 60px;
  }
  
  .seo-card h3 {
    font-size: 1.2rem;
  }
}
